{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{% block title %}Dashboard{% endblock %}</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/vector-map/jqvmap.min.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
    {% block stylesheet %}{% endblock %}
</head>

<body class="animsition">
    {% block body %}
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        {% block sidebar %}
        <aside class="menu-sidebar2">
            <div class="logo">

                <a href="{% url 'home' %}">
                    <img src="{% static 'images/icon/edusys-logo.png' %}" alt="Edusys logo"/>

                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">

                    {% if user.profile_pic %}
                        <div class="image img-cir img-120">
                            <img src="{{ request.user.profile_pic.url }}" alt="Profile pic" />
                        </div>
                    {% else %} 
                    <div class="image img-cir img-120">
                        <img src="{% static 'images/avatar.svg' %}" alt="Default user" />
                    </div>
                    {% endif %}
                    <h4 class="name">{{ user.first_name }} {{ user.last_name }}</h4>

                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href ="{% url 'profile' %}">
                                <i class="zmdi zmdi-account"></i>Profile
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Assignment
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{% url 'assignments:view_subjects' %}">

                                        <i class="far fa-window-restore"></i>View assignments</a>
                                </li>

                                <li>
                                    <a href="{% url 'assignments:subjects' %}">
                                        <i class="far fa-id-card"></i>View marks</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="{% url 'quiz:quiz_home' %}">
                                <i class="fas fa-tasks"></i>Quiz</a>
                        </li>
                        <li>
                            <a href="{% url 'course_materials:view_subjects' %}">
                                <i class="far fa-window-maximize"></i>Course Materials</a>
                        </li>
                        <li>
                            <a href="{% url 'forum:forum' %}">
                                <i class="fas fa-comment-alt"></i>Discussion Forum</a>
                        </li>
                        <li>
                            <a href="{% url 'announcements:view_announcements' %}">
                                <i class="fas fa-chart-bar"></i>Announcements</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        {% endblock sidebar %}

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">                            <div class="logo d-block d-lg-none">

                                <a href="{% url 'home' %}">
                                    <img class="mt-2 w-50 float-left" src="{% static 'images/icon/edusys-logo.png' %}" alt="Edusys logo">
                                </a>
                            </div>
                            <div class="header-button2">
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'changepassword' %}">
                                                <i class="zmdi zmdi-account"></i>Change Password</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'logout' %}">
                                                <i class="fas fa-sign-out-alt"></i>Sign out</a>
                                        </div>
                                    </div>
                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img class="mt-2 w-50 float-left" src="{% static 'images/icon/edusys-logo.png' %}" alt="Edusys logo" />
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        {% if user.profile_pic %}
                            <div class="image img-cir img-120">
                                <img src="{{ request.user.profile_pic.url }}" alt="Profile pic" />
                            </div>
                        {% else %} 
                            <div class="image img-cir img-120">
                                <img src="{% static 'images/avatar.svg' %}" alt="Default user" />
                            </div>
                        {% endif %}
                        <h4 class="name">{{ user.first_name }} {{ user.last_name }}</h4>

                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li>
                                <a href="{% url 'profile' %}>

                                    <i class="zmdi zmdi-account"></i>Profile</a>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-copy"></i>Assignment
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="{% url 'assignments:view_subjects' %}">

                                            <i class="far fa-window-restore"></i>View assignments</a>
                                    </li>
                                    <!-- check whether the user is student -->
                                    <li>
                                        <a href="{% url 'assignments:subjects' %}">
                                            <i class="far fa-id-card"></i>View marks</a>
                                    </li>
                                    <!-- end check -->
                                </ul>
                            </li>

                            <li>
                                <a href="{% url 'quiz:quiz_home'%}">
                                    <i class="fas fa-tasks"></i>Quiz</a>
                            </li>
                            <li>
                                <a href="{% url 'course_materials:view_subjects' %}">
                                    <i class="far fa-window-maximize"></i>Course Materials</a>
                            </li>
                            <li>
                                <a href="{% url 'forum:forum' %}">
                                    <i class="fas fa-comment-alt"></i>Discussion Forum</a>
                            </li>
                            <li>
                                <a href="{% url 'announcements:view_announcements' %}">
                                    <i class="fas fa-chart-bar"></i>Announcements</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Sign out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>

            <!-- END HEADER DESKTOP-->

            <!-- BREADCRUMB-->
            {% block breadcrumb %}
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            {% block breadcrumb-content %}
                                            <li class="list-inline-item active">
                                                <a href="{% url 'home' %}">Home</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Dashboard</li>
                                            {% endblock breadcrumb-content %}
                                        </ul>
                                    </div>
                                 {% block add-button %}
                                 {% endblock add-button %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock breadcrumb %}
            <!-- END BREADCRUMB-->
            {% block content %}
            {% endblock content %}
          <!--
               <footer>
                <div class="container">
                    <div class="row">
                        <div style="text-align: center;">Copyright 2020</div>
                       
                    </div>
                </div>
            </footer>
          --> 
            

            <!-- END PAGE CONTAINER-->
        </div>

    </div>
    {% endblock body %}
    
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.world.js' %}"></script>


    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock script %}
    
</body>

</html>
<!-- end document-->
