<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Dear learner,
    <br><br>A new notification has been posted on Announcements in LMS Platform.
    <br><br>Announcement: <br><strong>{{ title }} </strong><br> {{ description }} <br>
    </p>
    <br><strong> Please <a href="http://127.0.0.1:8000/announcements/" style="text-decoration: none;color: black">login</a> to view.</strong><br><br>
    Regards,<br>LMS Admin</br>
</body>
</html>